body {
  font-family: 'ADLaM Display';
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 80%;    
  padding-top: 20px;
}

.top-bar {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 150px;
}

.page-title {
  margin: 0;
}

.user {
  font-weight: bold;
}

.form-container {
  width: 100%;
  max-width: 600px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  padding: 8px;
  font-size: 14px;
}

.form-group input::placeholder {
  color: #999999;
  font-family: 'ADLaM Display';
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.delete-btn {
  background-color: #FFCFCF;
  color: #FF0606;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.delete-btn:hover {
    background-color: #e2a0a0;
}

.save-btn, .cancel-btn {
  background-color: #9400D3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.save-btn:hover, .cancel-btn:hover{
    background-color: #b94ce7;
}

.user {
    background-color: #dcdcdc;
    border: 1px solid #9400D3;
    border-radius: 50%;
    padding: 15px;
    margin-left: 15px;
}

.back{
    background-color: white;
    border: 0.5px solid #DCDCDC;
    border-radius: 5px;
}

.back:hover{
    background-color: #DCDCDC;
}