.form-group input {
    color: #999999;
    font-family: 'ADLaM Display';
}

.form-group input[readonly] {
    color: #cccaca;
    cursor: not-allowed;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #8f8f9d;
    font-family: inherit;
    font-size: 14px;
    color: #999999;
    background-color: #fff;
}

.form-group select:focus {
    outline: none;
    border-color: #9400d3;
}