.form-group input {
    color: #999999;
    font-family: 'ADLaM Display';
}

.form-group input[readonly] {
    color: #cccaca;
    cursor: not-allowed;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #8f8f9d;
    font-family: inherit;
    font-size: 14px;
    color: #999999;
    background-color: #fff;
}

.form-group select:focus {
    outline: none;
    border-color: #9400d3;
}

#password-reset {
    background-color: #9400D3;
    color: white;
    border: 1px solid #9400D3;
    padding: 5px;
}

.user {
    background-color: #dcdcdc;
    border: 1px solid #9400D3;
    border-radius: 50%;     
    padding: 5px;
    width: 50px;              
    height: 50px;           
    display: flex;
    align-items: center;      
    justify-content: center; 
    margin-left: 15px;
}