/* Table Hover Effect */
.history-table tbody tr:hover {
    background-color: #e2b8f2 !important;
}

/* Sync Button Designs with Dashboard */
.cur-values, .his-values {
    padding: 20px;
    color: #9400D3;
    margin-right: 15px;
    border: 1px solid #9400D3;
    border-radius: 5px;
    font-family: 'ADLaM Display';
    cursor: pointer;
    background-color: white;
}

.his-values {
    background-color: #dcdcdc; /* Indicates current page */
}

#update-values {
    padding: 10px 20px;
    background: white;
    border: 1px solid #9400D3;
    border-radius: 5px;
    color: #9400D3;
    font-family: 'ADLaM Display';
    cursor: pointer;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 10px;
}

.history-table th, .history-table td {
    border: 1px solid #DCDCDC;
    padding: 12px;
    text-align: center;
}

/* Status IoT & Time Layout */
.iot-status, .time {
    border: 1px solid #6E6D6D;
    border-radius: 5px;
    padding: 5px;
    color: #6E6D6D; /* Labels stay grey */
}

.header-row {
    display: flex;
    align-items: center;
    gap: 20px;
}