.user {
    font-size: x-small;
}

h2 {
    color: #9400d3;
    margin-top: 20px;
}

.form-container {
    padding: 20px;
}

.form-group {
    border: 0.5px solid #9400d3;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-group input {
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    background: transparent;
}

.checkbox-group {
    border: none;
}

.checkbox-group input[type="checkbox"] {
    accent-color: #9400d3;
}

.form-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'ADLaM Display', sans-serif;
}

.save-btn {
    background-color: #9400d3;
    color: white;
}

.cancel-btn {
    background-color: #FFCFCF;
    color: #d32828;
}

.cancel-btn:hover {
    background-color: #eb9797;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 8px; /* Forces text to stay close to checkbox */
    margin-top: 10px;
    justify-content: flex-start;
}

.remember-me input {
    margin: 0;
    width: auto; /* Prevents checkbox from stretching */
}