body {
    background-color: white;
    color: #9400D3;
    font-family: 'ADLaM Display';
}

.container {
    display: flex;
    justify-content: center;
}

.logo {
    width: 200px;
}

h1{
    font-size: 16pt;
    color: black;
}


button {
    font-family: 'ADLaM Display';
    border: 1px solid #9400D3;
    border-radius: 20px;
}

.user {
    background-color: #dcdcdc;
    border: 1px solid #9400D3;
    border-radius: 50%;     
    padding: 5px;
    width: 50px;              
    height: 50px;           
    display: flex;
    align-items: center;      
    justify-content: center; 
    margin-left: 15px;
}

h2 {
    font-size: medium;
}
